/*
 * @Author: Your name
 * @Date:   2021-01-02 21:32:41
 * @Last Modified by:   Your name
 * @Last Modified time: 2021-01-02 22:03:41
 */

@import "../../../node_modules/normalize.css/normalize.css";
:root {
    --color-text: #666;
    --color-high-text: #ff5777;
    --color-tint: #ff8198;
    --color-background: #fff;
    --font-size: 14px;
    --line-height: 1.5;
}

body {
    background-color: aquamarine;
}